# Kotchasan

.htaccess
.gitignore
robots.txt
datas/
settings/
!skin/ext/
!skin/fonts/
!skin/gts/
!skin/img/
!skin/rooster/
!skin/demo.css
!skin/empty.html
!skin/fonts.css
!skin/gcms.css
!skin/gcss.css
!skin/index.html
!skin/print.css
!skin/print.html